<div class="container">
  <div class="row">
    <div class="offset-lg-12 mt-5 ">
    <h2 class="text-center mb-5">Edit Customer</h2>
    
    <%= form_with model: @customer, url: customer_path(@customer.id) do |f| %>
        
    <div class="form-group mb-5" >
        <strong><%= f.label "Profile Image" %></strong>
            <%= f.file_field :image, accept: "image/*" %>
    </div>
        
    <div class="form-group mb-5 pb-5" >
        <strong><%= f.label "name" %></strong>
            <%= f.text_field :last_name ,class: "mr-2"%>
            <%= f.text_field :first_name %>
    </div>
    
   
    <div class ="ml-5 pl-5">
        <%= link_to "Withdrawal", customers_withdraw_path, data: {confirm: "本当に退会しますか？"}, class: "btn btn-danger ml-5 " %>
        <%= f.submit "Up Date", class: "btn btn-primary ml-5" %>
    </div>
        <% end %>
     </div>
  </div>
</div>

<style>
.container{ background-image: url("<%= asset_path('IMG_4443.PNG') %>");　
  height: 4000px;
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color:rgba(255,255,255,0.8);
  background-blend-mode:lighten;
  width:780px;
  height:700px;
  margin-left: auto;
  margin-right: auto;
 }
       

</style>