<div class="container">
  <div class="row">
    <div class="col-md-5 mt-5">
        <%= image_tag @customer.get_image(200,200), class: "rounded-circle" %>
          <h4 class="mt-5 mb-5 text-secondary"><%= @customer.full_name %></h4><br>
            <div class="ml-4">
              <h4 class="text-secondary">
                  <i class="far fa-heart"></i><%= @favorites_count %> |
                  <i class="far fa-comments"></i> <%= @comments_count%>
              </h4>
            </div>
    </div>

    <div class="col-md-7">
      <h2 class="mt-5 mb-5 text-center text-secondary">Post List</h2>
        <div class="col-md-12 d-flex">
          <% @posts.each do |post| %>
              <div class="col-md-3 align-items-stretch">
                <%= link_to post_path(post.id) do %>
                  <%= image_tag post.get_image(200,200) %>
                <% end %><br>
                  <%= link_to post.title, post_path(post.id) , class: "text-secondary"%>
              </div>
          <% end %>
        </div>
    </div>

    <style>



    </style>