<div class="container">
    <h4><strong>タグが<%=@tag.name%>の投稿一覧</strong></h4>


    <% @tag_list.each do |list|%>
    <h4><%=link_to list.name,search_tag_path(tag_id: list.id) %>
    <%="(#{list.posts.count})" %></h4><% end %>
    
    <% @posts.each do |post| %>
    <div class="card">
      <div class="card-body">
        <%= link_to post_path(post.id) do%>
            <%= image_tag post.get_image(200,100) %>
          <% end %>
      <h4><%=link_to post_path(post.id) do %><%= post.title.truncate(25) %></h4>
          <% end %>
          <h6 class="card-title"></h6>
          <i class="fas fa-heart"></i><%= "#{post.favorites.count}　" %>
          <i class="fas fa-comment"></i><%= "#{post.comments.count}　"%>
          <i class="fas fa-user"></i><%= post.customer.full_name %>
       </div>
    </div>
<% end %>


    <div class="pagination pagination-sm justify-content-center">
           <%= paginate @posts %></div>

 </div>


    <style>
        .card{
          padding:0;
          margin:0;
          border:none;
          
        }
        
        
         
         .container{ background-image: url("<%= asset_path('IMG_4450.PNG') %>");　
          background-size:cover;
          background-position: center;
          background-color:rgba(255,255,255,0.5);
          background-blend-mode:lighten;
          width:auto;
          height:auto;
         }
        
        
        
        
        h6 {
          border-bottom: solid 3px black;
        }
    </style>