<div class="container">
   <div class="row d-block">
      <h2 class="mb-5 mt-5 text-center mr-5">Log in</h2>
        <div class="col-md-12 offset-md-1">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="field mb-5 block-center">
              <strong><%= f.label :email, class: "mr-3" %></strong>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", size: "30x5" %>
            </div>
            <div class="field mb-5">
              <strong><%= f.label :password, class: "mr-3" %></strong>
              <%= f.password_field :password, autocomplete: "current-password", size: "30x5" %>
            </div>
            <div class="col-md-12 offset-md-4 mb-5">
              <%= f.submit "Log in", class: "btn btn-success" %>
            </div>
          <% end %>
        </div>
          <h2 class="text-center mt-5 mb-5 mr-5">OR</h2>
            <div class="col-md-12 offset-md-5 mb-5">
              <%= link_to "Guest Log In" , customers_guest_sign_in_path, method: :post, class: "btn btn-info" %>
            </div>
          <h5 class="text-center">New registration is here<%= render "public/shared/links" %></h5>
   </div>
</div>


<style>
  .container{ background-image: url("<%= asset_path('IMG_4446.PNG') %>");
    height: 4000px;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color:rgba(255,255,255,0.8);
    background-blend-mode:lighten;
    width:780px;
    height:700px;
    margin-left: auto;
    margin-right: auto;
  }
</style>
